/* Отрисовка снеговика (Не менять) */
.snowmanFace{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left:110px;
    top:100px;
}
.shadow1{
    height:110px;
    width: 110px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    top:5px;
    left:-3px;
    box-shadow: 8px 0px 0 5px rgba(0,0,0,0.1); 
}
.eyel,.eyer{
    background-color: #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
}
.eyel{
    top:40px;
    left:35px;
}
.eyer{
    top:25px;
    left:75px;
}
.nose{
    height: 0;
    width: 0;
    border-top: 30px solid #f7880f;
    border-right: 6px solid transparent;
    border-left:6px solid transparent;
    position: relative;
    top:35px;
    left:57px;
}
.hat{
    height:10px;
    width: 120px;
    background-color: #2b303a;
    position: relative;
    bottom: 62px;
    border-radius: 4px;
    left:15px; 
    transform: rotate(20deg);
}
.h-top{
    height:0;
    width: 60px;
    border-bottom: 43px solid #2b303a;
    border-left:10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    bottom:42px;
    left:24px;
    
}
.snowmanBody{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top:90px;
    left:70px;
}
.shadow2{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    box-shadow: 8px 0px 0 5px rgba(0,0,0,0.1);
    position: relative;
    top:5px;
    right: 3.5px;
}
.scarf{
    background-color: #e74339;
    height: 35px;
    width:120px;
    position: relative;
    
    bottom: 115px;
    left: 110px;
    border-radius: 10px;
    transform: rotate(0deg);
}
.sc1{
    height: 0;
    width: 20px;
    border-bottom: 50px solid #e74339;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: relative;
    bottom: -9px;
    left: 82px;
    transform: rotate(-22deg);
}
.sc2{
    height: 0;
    width: 20px;
    border-bottom: 70px solid #e74339;
    border-left:8px solid transparent;
    border-right: 8px solid transparent;
    position: relative;
    bottom:45px;
    left:65px;
    transform:rotate(-15deg);
}
.buttons{
    position: relative;
    bottom: 120px;
    left:90px;
}
.b1,.b2,.b3{
    height: 15px;
    width: 15px;
    border-radius:50%;
    background-color: #2b303a;
    margin-bottom: 20px;
}
.hand-l{
    background-color: #84382a;
    height: 5px;
    width: 100px;
    position: relative;
    bottom: 263px;
    right: 61px;
    transform: rotate(-35deg);
    transform-origin: right;
}
.hand-r{
    background-color: #84382a;
    height: 5px;
    width: 100px;
    position: relative;
    bottom: 268px;
    left:165px;
    transform: rotate(35deg);
    transform-origin: left;
}
.s1{
    background-color: #84382a;
    height: 5px;
    width: 30px;
    position: relative;
    bottom: 10px;
    left:5px;
    transform: rotate(45deg);

}
.s2{
    background-color: #84382a;
    height: 5px;
    width: 30px;
    position: relative;
    bottom: 10px;
    left:65px;
    transform: rotate(-45deg);
}
/*===================================*/


/* Положение снеговика */
.snowman{
    position: relative;
    left:5px;
    top:53px;
}
/*===================================*/

/* Анимация шляпы */
.hatBounce{
    /* Начальный угол наклона */
    transform: rotate(20deg);

    animation: hatBounce 1.5s infinite;
}
@keyframes hatBounce {
    0%,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0) rotate(20deg);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0) scaleY(1.1)  rotate(10deg);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0) scaleY(1.05)  rotate(0deg);
    }
    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0) scaleY(0.95)  rotate(10deg);
    }
    90% {
        transform: translate3d(0, -4px, 0) scaleY(1.02)  rotate(15deg);
    }
}
/*===================================*/

/* Анимация махания руки */
.hand-rSwing{
    /* Начальный угол наклона */
    transform: rotate(35deg);

    animation: swingRight 1.5s infinite;
}
@keyframes swingRight {
    20% {
        transform: rotate(-45deg);
    }
    40% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    60% {
        transform: rotate(-45deg);
    }
    70% {
        transform: rotate(-30deg);
    }
    80% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(0deg);
    }
}
/*===================================*/

/* Анимация подтанцовки головы */
.faceDance{
    /* Начальное положение головы */
    left:110px;
    top:100px;

    animation: dancing 2s infinite;
}
@keyframes dancing{
	25% { 
        left: calc(110px - 5px);
        top: calc(100px + 10px); 
    }
    50% { 
        left: calc(110px - 10px);
        top: calc(100px + 0px); 
    }
    75% { 
        left: calc(110px - 5px);
        top: calc(100px + 10px); 
    }
    100% { 
        left: calc(110px - 0px);
        top: calc(100px + 0px);  
    }
}
/*===================================*/

/* Анимация колебания шарфа */
.scarfWobble{
    animation: wobble 0.85s infinite;
}
@keyframes wobble {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 0;
    }
    10% {
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(2deg);
    }
}
/*===================================*/