body{
    background-color:rgb(138, 107, 92);
}
/* Анимация снегопада */
#snow{
    background-image: url("img/snow_1.png"), url("img/snow_2.png"), url("img/snow_3.png");
    z-index: 1;

    animation: snow 15s linear infinite;
}
@keyframes snow{
    0%{
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    75%{
        background-position: 500px 750px, 150px 1500px, -175px 150px;
    }
    100%{
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
}

/* Музыкальная игрушка */
#tree{
    position: fixed;
    left: calc(50% - 95px);

    background-image: url("img/tree.png");
    background-size: contain;
    width: 190px;
    height: 211px;
}
#toy1{
    position: relative;
    width: 26px;
    left: 46px;
    top: 91px;
}
#toy2{
    position: relative;
    width: 26px;
    left: 46px;
    top: 91px;
}
#toy3{
    position: relative;
    width: 26px;
    left: 46px;
    top: 91px;
}

#countdown{
    position: absolute;
    left: 21%;
    top: 48%;
    color: #b0ebeb;
    font-family: 'Squada One', cursive;
}
#countdown>p{
    font-size: 48pt;
    position: relative;
    left: 22%;
}
#countdown>span{
    font-size: 72pt;
    position: relative;
    left: 39%;
    top: -67px;
}

@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");
}
#graz{
    position: absolute;
    left: 21%;
    top: 25%;
    color: #b0ebeb;
    font-family: 'Mountains of Christmas';
    user-select: none;
}
#graz>h1{
    font-size: 140pt;
}