/* Задний фон страницы */
body{
    background-color:rgb(138, 107, 92);
}
/*===================================*/

/* Анимация снегопада */
#snow{
    background-image: url("img/snow_1.png"), url("img/snow_2.png"), url("img/snow_3.png");
    z-index: 1;

    animation: snow 15s linear infinite;
}
@keyframes snow{
    0%{
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    75%{
        background-position: 500px 750px, 150px 1500px, -175px 150px;
    }
    100%{
        background-position: 40px 1250px, 150px 1500px, -175px 150px;
    }
}
/*===================================*/

/* Поздравительная надпись */
@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");
}
#graz{
    position: absolute;
    left: calc(33vw - 10vw);
    top: 20vh;
    color: #b0ebeb;
    font-family: 'Mountains of Christmas';
    user-select: none;
}
#graz>h1{
    font-size: 10vw;
}
/*===================================*/

/* Таймер отсчёта до Нового Года  */
#countdown{
    font-family: 'Squada One';
    position: absolute;
    left: calc(33vw - 10vw);
    top: 45vh;
    color: #b0ebeb;
}
#countdown>p{
    font-size: 5vw;
    position: relative;
    left: 10%;
}
#countdown>span{
    font-size: 7vw;
    position: relative;
    left: 30%;
    top: -80px;
}
/*===================================*/


/* Для смартфона */
/* Поздравительная надпись */
@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");
}
#grazMobile{
    position: absolute;
    left: calc(33vw - 10vw);
    top: 20vh;
    color: #b0ebeb;
    font-family: 'Mountains of Christmas';
    user-select: none;
}
#grazMobile>h1{
    font-size: 10vw;
}
/*===================================*/

/* Таймер отсчёта до Нового Года  */
#countdownMobile{
    font-family: 'Squada One';
    position: absolute;
    left: calc(33vw - 10vw);
    top: 28vh;
    color: #b0ebeb;
}
#countdownMobile>p{
    font-size: 5vw;
    position: relative;
    left: 10%;
}
#countdownMobile>span{
    font-size: 7vw;
    position: relative;
    left: 94%;
    top: -56px;
}
/*===================================*/

